<p-dialog header="Add" [(visible)]="display" [style] = "{height: '100vw', width: '40vw'}">
    <div>
        <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
            
            <div class="ui-inputgroup row">
                <!-- <input type="text" formControlName="date" size="30" pInputText placeholder="Date">  -->
                <p-calendar formControlName="date"  [showIcon]="true"  dateFormat="yy-mm-dd"></p-calendar> 
            </div>

            <div class="ui-inputgroup row">
                 <!-- <p-dropdown [options]="accountNumber"  formControlName="accountNumber"  optionLabel="accountNumber"></p-dropdown>  -->
                <input type="text" formControlName="accountNumber" size="30" pInputText placeholder="Account Number"> 
            </div>

            <div class="ui-inputgroup button">
                <button pButton class="ui-button-add" label="Save" ></button> 
            </div>
        </form>
    </div>
</p-dialog>

<div class="add-customer">
    <button pButton type="button" class="ui-button-add" style="margin-right: .5em" (click)="show()">Add Bounce</button>
</div>
<div class="data-table">
    <p-table class="customers" [value]="customers" dataKey="id" editMode="row" [paginator]="true" [rows]="6"
    [globalFilterFields]="['accountNumber']">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <div class="flex justify-content-center align-items-center">
                    Account Number
                    <p-columnFilter type="text" field="accountNumber" display="menu"></p-columnFilter>
                </div>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                             <input pInputText type="text" [(ngModel)]="rowData.date"> 
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.date}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                             <!-- <input pInputText type="text" [(ngModel)]="rowData.loan.accountNumber">  -->
                             <p-dropdown [options]="accountNumber" [(ngModel)]="rowData.accountNumber" optionLabel="accountNumber"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.loan.accountNumber}}
                        </ng-template>
                    </p-cellEditor>
                </td>


                <td style="text-align:center">
                    <button *ngIf="!editing && !editEnabled" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" style="margin-right: .5em" (click)="onRowEditInit(rowData, ri)"></button>
                    <button *ngIf="!editing && editEnabled" pButton type="button" pInitEditableRow icon="pi pi-pencil" 
                        class="ui-button-info" style="margin-right: .5em" (click)="onRowEditInit(rowData, ri)"></button>
                    <button *ngIf="!editing && !editEnabled" pButton type="button" pSaveEditableRow icon="pi pi-trash"
                        class="ui-button-trash" style="margin-right: .5em" (click)="deleteCustomer(rowData, ri)"></button>
                    <button *ngIf="!editing && editEnabled" pButton type="button" pSaveEditableRow icon="pi pi-trash" disabled
                        class="ui-button-trash-light" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
